html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    text-align: center;
}

.container {
    min-height: 100%;
    margin-top: 4rem;
}

.footer {
    padding: 2rem 0;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.wrapper > img {
    max-width: 300px;
    margin-top: 4rem;
}

.itunes {
    max-width: 200px;
    margin-top: 4rem;
}
