html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(255, 172, 172);
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    text-align: center;
}

.container {
    min-height: 100%;
    margin-top: 4rem;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

a > i {
    color: rgb(255, 172, 172);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.wrapper > img {
    max-width: 300px;
}

.itunes {
    max-width: 200px;
}
